<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/register}" method="post" enctype="multipart/form-data">
    用户名：<input type="text" name="userName"><br>
    密码：<input type="password" name="userPassword"><br>
    重复密码：<input type="password" name="userPasswordAgain"><br>
    所在地：<br>
    <select name="lId" value="location" >
        <option value="none" >请选择</option>
        <option
                th:each="location:${location}"
                th:value="${location.lId}"
                th:text="${location.lName}" value="1">
        </option>
    </select>

    <br>
    你的靓照：<input type="file" name="photo"><br>
    个人描述：<input type="text" name="userDescribe"><br>
    <label>性别:</label>
    <!-- name要保持一致才能起到单选的作用 -->
    <input type="radio" name="userGender" value="man" checked="checked">男
    <input type="radio" name="userGender" value="women">女
    <br>
    <label>爱好：</label><br>
    <input type="checkbox" name="userHobby" value="篮球">篮球
    <input type="checkbox" name="userHobby" value="足球">足球
    <input type="checkbox" name="userHobby" value="羽毛球">羽毛球
    <input type="checkbox" name="userHobby" value="游戏">游戏
    <input type="submit" value="提交">
</form>
<h1 th:text="${session.msg}"></h1>
</body>
</html>